@using Rookie.ViewModel.Dto;
@model ProductImageDto;

<div class="card m-4">
   <div class="card-header bg-danger text-light">@Model.Name</div>
   <div class="card-body">
       <p>Thông tin @Model.ImageSize</p>
       <img href="@Model.ImagePath"></img>
   </div>
</div>