@using Rookie.ViewModel.Dto;
@model ProductImageDto;

@*<div class="card m-4">
   <div class="card-header bg-danger text-light">@Model.ProductImageDto.Name</div>
   <div class="card-body">
       <p>Thông tin @Model.ProductImageDto.ImageSize</p>
       <a href="@ModelImgagePath"></a>
   </div>
</div>*@