@page "/category/{Id?}"
@model Rookie.Ecom.Customer.Pages.CategoryModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    <div class="row">
                @foreach (var i in Model._product)
        {
                    <div class="col-4 bg-success" >
                        @foreach (var image in Model._productImage)
                {
                    if (image.ProductId == i.Id && image.IsDefualt == true)
                    {
                                <div class="productImage">
                                    <img src="@image.Name@image.Id" />
                                </div>

                    }
                }
                        <a asp-page="Product" asp-route-id="@i.Id" class="link">
                            <h4 class="tensp">@i.Name</h4>
                        </a>
                        <h5 class="gia">@i.Price</h5>
                        <div style="text-align:center">
                            <button class="btnAdd">Add to card</button>
                        </div>
                    </div>
        }
    </div>
}
<style>
.productImage img {
    width : 100%;
    object-fit:contain;
    height:300px;
}
/*.btnAdd{
    position : absolute;
    right: 50%;
    transform: translateX(50%);
}*/
img {
    background-color: white;
}
a:hover{
    color: yellow;
    text-decoration: underline;
}
.link{
    text-decoration: none; color:white;
    text-align:center;
}
.gia{
 text-align:center;
}
.vitri{
    position:relative;
    margin: auto;
}
a:active{
    color: orangered;
    text-decoration: none;
}
</style>