@model Rookie.Ecom.Customer.Pages.Components.ViewProduct.ViewProduct;

<div class="card m-4">
   <div class="card-header bg-danger text-light">@Model._product.Name</div>
   <div class="card-body">
       <p>Thông tin </p>
       <p>Giá: </p>
   </div>
</div>